
h2 {
    color: red;
}
li.pirmas {
    color: green;
}
/*   ARBA  */
ul .pirmas {
    color: green;
}
li {
    color: blue;
}
section li {
    color: red;
}
/*  ARBA */
.grupe li {
    color: red;
}
