body{
    background-color: rgba(237, 240, 241, 0.623);
}
.height-70{
    height: 70px;
}

.height-100 {
    min-height: 100px;
}

.height-150 {
    min-height: 150px;
}

.tarpas-apacia {
    margin-bottom: 5px;
}

.tarpas-virsus {
    margin-top: 20px;
}

.tarpas-desine {
    margin-right: 5px;
}

.paddingas {
    padding: 10px;
}

.spalva {
    background-color:rgb(218, 214, 214);
}

/* .float {
    float: left;
    width: 30%;
}

.float-isjungiu {
    clear: both;
} */
a {
    color: white;
}
a:hover {
    color: rgb(0, 155, 155);
  }
.border-news {
    border: solid 1px grey ;
    
}

  .md-menu {
      display: inline-block;
  }

  .komandos{
      color: black;
  }

  

  @media ( max-width:767px){
    .md-menu {
        display: inline-block;
    }
  }