.height-70{
    height: 70px;
}

.height-100 {
    min-height: 100px;
}

.height-150 {
    min-height: 150px;
}

.tarpas-apacia {
    margin-bottom: 5px;
}

.tarpas-desine {
    margin-right: 5px;
}

.paddingas {
    padding: 10px;
}

.spalva {
    background-color: rgba(77, 149, 213, 0.57);
}

.float {
    float: left;
    width: 30%;
}

.float-isjungiu {
    clear: both;
}