.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: black solid 1px;
    text-align: center;
    
}

.blue {
    background-color: blue;
}
.black {
    background-color:grey;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.tarpai{
    margin: 0px;
}