h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}

/* remeliu isjungimo skaiciavimas */

{box-sizing: border-box;}

.produktas {
  padding: 50px 10px 15px 10px;
  width: 30.666%;
  min-height: 200px;
  border: solid 1px red;
  background-color: grey;
  position: relative;
}

.float-kaire {float: left;}
.float-desine {float: right;}
.float-off { clear: both; content: ""}

.margin-kaire {margin-left: 2%;}

.fonas-m {background-color: blue;}
.fonas-z {background-color: green;}
.fonas-g {background-color: yellow;}

article h2 {
  width: 150px;
  text-align: center;
  border-left: solid 1px orange;
  border-bottom: solid 1px orange;

  position: absolute;
  right: 0;
  top: 0;
}

p {text-align: justify;}
