body {
    background-color: rgb(134, 134, 134);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(177, 198, 236);
}


h1,
h2,
h3 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

h1 {
    text-shadow: 0px 0px 10px #000000;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    margin: 0;
    margin-bottom: 10px;
}

/* jei neuzkraus Galada tada bus Arial  - isvardinti visus per kableli*/

header {
    min-height: 50px;
    display: flex;
    justify-content: center;
}

nav {
    width: 70%;
}

.go-search {
    width: 30%;
    display: flex;
    align-items: center;
}

nav ul li {
    width: 25%;
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 0;
}

.float {
    float: left;
}

.float-isjungimas {
    clear: both;
    content: "";
}

.go-button {
    background-color: black;
    color: white;
    height: 20px;
    width: 30%;
    border: none;
    min-width: 100px;
}

.search {
    /* width: 60%; */
    height: 20px;
}



/*      overflow: hidden;                   eina pas teti
        margin-bottom: -5000px;             eina pas vaika
        padding-bottom: 5000px;
*/

section {
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 1%;
}

main {
    width: 72%;
    margin-right: 1%;
    padding: 5px;
}

aside {
    width: 26%;
    margin-bottom: -5000px;
    /* any large number will do */
    padding-bottom: 5000px;
}

.fonas-ruz {
    background-color: rgb(248, 78, 194);
}

.fonas-b {
    background-color: white;
}


footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
