html {
  width: 1200px;
  /* elementu centravimas */
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

body {
  background-color: grey;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Modak', 'Arial', cursive;
}

h1 {
    text-shadow: 0 0 10px #000;
  color: white;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.aukstis-100 {
  height: 100px;
}

.aukstis-200 {
  height: 200px;
}

.aukstis-300 {
  height: 300px;
}

.aukstis-500 {
  height: 500px;
}

/* ------------nav--------- */
h1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

header {
  min-height: 70px;
  background-color: pink;
}

nav {
  background-color: orange;
  width: 60%;
}

nav ul {
  padding-left: 0;
}

nav li {
  float: left;
  font-size: 26px;
  list-style-type: none;
  width: 25%;
  text-align: center;
  padding-top: 16px
}

.float {
  float: left;
}

.isjungiu-float {
  clear: both;
  content: "";
}

/* --------nav pabaiga---------- */
.paieska {
  background-color: pink;
  width: 40%;
  padding-top: 21px;
}

.paieska input {
  width: 70%;
  margin-left: 3%;
  margin-right: 2%;
  border: none;
  height: 30px;
}

.paieska button {
  width: 20%;
  background-color: black;
  color: white;
  border: none;
  height: 30px;
}

.float {
  float: left;
}

.isjungiu-float {
  clear: both;
  content: "";
}

/* ---------------Header pabaiga------------------ */
main {
    padding: 10px;
  width: 68%;
  background-color: orange;
  margin-right: 2%;
}

aside {
  width: 30%;
  background-color: lightblue;
  /* Automatinis aukscio apskaiciavimas */
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  /* nepamirst ant tevinio elemento uzdeti: overflow: hidden; */
}

section {
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: hidden;
}

footer {
  min-height: 60px;
  background-color: pink;
  margin-bottom: 2%;
}
