div h2{
  color:blue;
}
body{
  background: yellow;
}
div{
  border: solid 1px black;
  border-radius: 25px 50px;
 background: #73AD21;
 padding: 20px;
 width: 200px;
 height: 50px;
}
.paskutinis{
  background-color: green;
