*{
    margin: 0;
    padding: 0;
}
form{
    float: left;
    margin-top: 30px;
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
body{
    background: linear-gradient(rgba(0, 0, 0,0.6),rgba(0,0,0,0.6)), url("../img/14.png");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #FFD700;
}
.nav-area{
    float:right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color:#FFD700;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}
.nav-area li a:hover{
    background: #fff;
    color: #FFD700;
}
.contacts-info{
    font-size: 30px;
    }

}
.header-signup{
    width: 13%;
}
.pradzia-title{
    font-family: 'Comfortaa', cursive;
    padding-top: 10px;
    padding-left: 50px;
}
.pradzia-text{
    padding-left: 50px;
    line-height: 1.5;
}
.contacts-form{
    padding: 15px 25px;
}
.login-header{
    background-color: white;
    border-radius: 4px;
    padding: 4px 20px 7px ;
    width: 20%;
}
.img-text{
    text-align: center;
    margin: 10px;
}
.img-button{
    margin:30px;
}
.gallery{
    margin: 10px 50px;
}
.gallery img{
width: 230px;
height: 230px;
padding: 5px;
filter: grayscale(100%);
transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
