body {
    background-color: rgb(134, 134, 134);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.float {
    float: left;
}

.float-isjungiu {
    clear: both;
}

/* ---------NAV------ */

nav {
    width: 60%;
}

nav ul { padding-left: 0; }
nav li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-type: none;
 }
/* ---------------------- */

.paieska {
    width: 38%;
    padding: 0;
 }

.paieska  input { width: 70%;  }
.paieska  button { width: 20%; }


 main {
     width: 68%;
     padding: 10px;
     margin-right: 1%;
 }

 aside {
    width: 27%;
    padding-left: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    
}

 .fonas-ruz {
     background-color: pink;
 }

 .fonas-b {
     background-color: white;
 }

h1,
h2,
h3 {
    text-align: center;
}

footer {
    margin-top: 10px;
    height: 50px;
    padding: 10px;
}

div form {
    padding: 12px;
}

/* section {
    overflow: hidden;
} */


footer {
    background-color: pink;
    min-height: 60px;
}