
.kubas {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    display: inline-block;
}
.fonas-r { background-color:red;}
.fonas-m { background-color:blue;}
.fonas-z { background-color:green;}



/*  */
