h1 {
  color: red;
}

.aukstis-100 {
  height: 100px;
}

.aukstis-200 {
  height: 200px;
}

.aukstis-300 {
  height: 300px;
}

.aukstis-500 {
  height: 500px;
}

/*remeliu skaicisvimo isjungimas*/
* {
  box-sizing: content-box;
}

.produktas {
  border: solid 1px black;
  background-color: grey;
  width: 30.666%;
  min-height: 100px;
  position: relative;
}

.float-kaire {
  float: left;
}

.float-isjungimas {
  clear: both;
  content: "";
}

.margin-kaire {
  margin-left: 2%;
}



.h2 {
  width: 150px;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  position: absolute;
  right: 0;
  top: 0;
  /*right: 50%;
  top: 50%;
  transform: translate(50%, -50%);*/
}

.background-pink {
  background-color: pink;
}

.background-red {
  background-color: red;
}

.background-yelow {
  background-color: yellow;
}

.padding {
  padding: 20% 4% 4% 4%;
}

.tekstas-lygus {
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
