html {
    background-color: #f4f4f4;
}
body {
    background-color: #f4f4f4;
    /* elm. centravimas */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
header {
    min-height: 70px;
    background-color: pink;
}
/* ---------NAV------ */
nav {
    background-color: orange;
    width: 60%;
}
nav ul { padding-left: 0; }
nav li {
    float: left;
    width: 25%;
    text-align: center;
    list-style-type: none;
    font-size: 26px;
    padding-top: 13px;
 }
/* ---------------------- */
.paieska {
    background-color: pink;
    width: 38%;
    padding-top: 16px;
    margin-left: 2%;
 }
.paieska  input { width: 70%;  }
.paieska  button { width: 20%; }
.float {   float: left;  }
.isjungiu-float {   clear: both;  }
main {
    width: 68%;
    background-color: orange;
    margin-right: 2%;
}
aside {
    width: 30%;
    background-color: lightblue;

    /* automatinis aukscio apskaiciavimas */
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    /* nepamirsti ant tevinio elm. uzdeti: overflow: hidden; */
}
section {
    overflow: hidden;

    margin-top: 2%;
    margin-bottom: 2%;
}
footer {
    background-color: pink;
    min-height: 60px;
}

/*  */
